html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
    margin: 50px auto;
    box-sizing: border-box;
    width: 50%;
    text-align: center;
}

main img {
  width: 90%;
}

main a {
  display: block;
  text-align: center;
}
